<div id="<%= dom_id idea %>">
  <p>
    <strong>Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag(idea.picture_url, width: 600) if idea.picture.present? %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= idea.tags.map{ |tag| link_to "##{tag.name}", tag_path(tag)}.join(", ").html_safe %>
  </p>

</div>
